
{% extends "base.html" %}  

{% block title %} Home {% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="./static/main.css">  

<h1 class="header">Notes</h1>
<ol class="list-group list-group-flush" id="notes">
    {% for note in user.todo %}
        <li class="list-group-item" >
            <div class="row">
                <div class="text" >
                    <h4>{{note.data}}</h4> 
                </div> 
                <div class="btn-toolbar2">
                    <a class="btn btn-primary"  href="update">Update</a>
                    <button type="button" class="btn btn-danger" onClick="deleteNote({{note.id}})">Delete</button>
                </div>
            </div>
        
        <h6 class="list-group-item">Date & Time: {{note.date}}</h6>
    </li>
    {% endfor %}
</ol>

    <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
        <br>
        <div align="center">
            <button type="submit" class="btn btn-primary"> Add Note </button>
        </div>
    </form>

{% endblock %}
    
            <!-- <div align=right >
                <form method="POST" action="./update" class="form-inline" >
                        <input type="hidden"  class="form-control" value="{{note.data}}"  name="oldnote">
                        <input type="text"   class="form-control" value="{{note.data}}"  name="newnote">
                        <input type="submit" class="btn btn-primary"  value="Update">
                </form>
            </div> -->